/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}

article p:first-child{
	color:white;
	background-color:black;
}

p:nth-child(2){
	color:black;
}

p:last-child{
	color:red;
}

ul li{
	width:50%;
	padding:10px;
}

li:nth-child(1){
	background:white;
	font-size:22px;
}

li:nth-child(5){
	background:white;
	font-size:22px;
}

li:nth-child(even){
	background:gray;
}

li:nth-child(3){
	background:pink;
}